<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>673247272715-34m6oh87ivu25est6u74n4fr9ambmjdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673247272715-34m6oh87ivu25est6u74n4fr9ambmjdf</string>
	<key>API_KEY</key>
	<string>AIzaSyDG_pNG_mpdrx_caMi05GSiQG3CTpppnzA</string>
	<key>GCM_SENDER_ID</key>
	<string>673247272715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patientTriage</string>
	<key>PROJECT_ID</key>
	<string>patientbot-7dde2</string>
	<key>STORAGE_BUCKET</key>
	<string>patientbot-7dde2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:673247272715:ios:6a0145be7b464807</string>
	<key>DATABASE_URL</key>
	<string>https://patientbot-7dde2.firebaseio.com</string>
</dict>
</plist>